<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C2535BF19C037FD00B052A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2535CD19C0380B00B052A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA4BB8319AC835E007CA626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CCFE93B19F018F900866458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CEB78271A32126D00527803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
